<% include ./partials/header.ejs %>
    <% include ./navbar.ejs %>

        <div class="bg-pink-200 text-white flex items-center justify-center"
            style="background-image: radial-gradient(at 61% 4%, hsla(303, 91%, 61%, 1) 0px, transparent 50%), radial-gradient(at 75% 66%, hsla(196, 91%, 79%, 1) 0px, transparent 50%), radial-gradient(at 98% 88%, hsla(76, 87%, 78%, 1) 0px, transparent 50%), radial-gradient(at 23% 16%, hsla(238, 96%, 77%, 1) 0px, transparent 50%), radial-gradient(at 95% 65%, hsla(13, 91%, 75%, 1) 0px, transparent 50%), radial-gradient(at 10% 79%, hsla(228, 96%, 69%, 1) 0px, transparent 50%), radial-gradient(at 85% 58%, hsla(328, 81%, 68%, 1) 0px, transparent 50%); padding: 15rem 0;">
            <form method="post" action="/reset-password"
                class="backdrop-blur-lg bg-black bg-opacity-75 rounded-lg border border-white border-opacity-25 flex flex-col items-center p-8">
                <p class="lock-icon text-6xl"><i class="fas fa-lock"></i></p>
                <h2 class="text-2xl mt-2 uppercase">Forgot Password?</h2>
                <p class="text-sm">You can reset your Password here</p>
                <input type="text" name="email"
                    class="passInput mt-4 w-4/5 bg-transparent border-b-2 border-blue-500 text-white outline-none text-base"
                    placeholder="Email address">
                
                <button class="mt-4 w-4/5 bg-blue-500 text-white py-2 uppercase">Send My Password</button>

            </form>
        </div>


        <% include ./partials/footer.ejs %>