<% include ./partials/header.ejs %>
    <% include ./navbar.ejs %>
        <h1 class="text-xl">welcome to our webbbbbbbbbb</h1>

        
        
        


        <% include ./partials/footer.ejs %>